@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#82A762;
  --color-secondary: #2E2EFF;
}



