@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Optional: Link Tailwind dark: prefix to daisyUI dark themes */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0ea5e9;      
  --color-primary-focus: #0284c7; 
  --color-primary-content: #ffffff;
  --color-secondary: #6366f1;    
}

/* Optional: Customize dark theme too */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #60a5fa;     
  --color-primary-focus: #3b82f6;
  --color-primary-content: #ffffff;
}